.venv
env
.env
app.log
__pycache__
mlflow.db
mlartifacts
chroma_db
uploaded_files

WINDOWS_OTEL_JAEGER_SETUP.md
vector_db
vector_db1
business_review_corrected.docx
credentials.json
document.py
extarct1.py
extract.py
extract2.py
Fraud.ipynb
meetingagent.ipynb
mongo_agent.ipynb
mongo 1 copy 2.ipynb
mongo1.ipynb
mongo1 copy 2.ipynb
test.py
text_to_mongo.ipynb
token.json
promptforextract2.txt
RAG_with_tabel.ipynb