.venv
env
.env
app.log
__pycache__
mlflow.db
mlartifacts
chroma_db
uploaded_files
vector_db
vector_db1
Fraud.ipynb
text_to_mongo.ipynb
mongo_agent.ipynb
mongo1.ipynb
business_review_corrected.docx
credentials.json
extarct1.py
extract.py
extract2.py
mongo1 copy 2.ipynb
token.json
promptforextract2.txt
document.py
meetingagent.ipynb
test.py
RAG_with_tabel.ipynb